Oscar Esteban <code@oscaresteban.es>
Christopher J. Markiewicz <markiewicz@stanford.edu>
Christopher J. Markiewicz <markiewicz@stanford.edu> <effigies@gmail.com>
Mathias Goncalves <mathiasg@stanford.edu>
Mathias Goncalves <mathiasg@stanford.edu> <mathiasg@mit.edu>
Mathias Goncalves <mathiasg@stanford.edu> <goncalves.mathias@gmail.com>
Julien Marabotto <166002186+jmarabotto@users.noreply.github.com>
Julien Marabotto <166002186+jmarabotto@users.noreply.github.com> <julienmarabotto@MacBook-Pro-de-Henri.local>
Julien Marabotto <166002186+jmarabotto@users.noreply.github.com> <julienmarabotto@macbook-pro-de-henri.vpn.intranet.chuv>
Stefano Moia <s.moia@bcbl.eu>
Basile Pinsard <basile.pinsard@gmail.com>
Jaume Banús <jaume.banus05@gmail.com>
